# File chứa token bảo mật
.env

# Các file cache tự sinh khi chạy Python (Làm rác source code)
__pycache__/
*.pyc
*.pyo
*.pyd

# Môi trường ảo (Nếu bạn tạo venv ở máy máy tính)
venv/
.venv/
env/

# File cấu hình của các trình soạn thảo code
.vscode/
.idea/
.DS_Store